@font-face {
    font-family: italiana;
    src: url("Italiana-Regular.woff");
}
header{
    position: absolute;
width: 167px;
height: 91px;
left: 101.5px;
top: 0px;

font-family: 'Italiana';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 113px;

color: #000000;
}

.square{
position: absolute;
width: 370px;
left: 0px;
height: 13px;
top: 123px;

background: #000000;
}

header1{
    position: absolute;
width: 300px;
left: 13px;
top: 170px;

font-family: 'italiana';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 24px;

color: #000000;
}
h2{
    position: absolute;
width: 365px;
left: 13px;
top: 200px;

font-family: 'Italiana';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #000000;
}